<header class="header">
    <img src="/logo.svg" class="header__logo">
    <nav class="header__navbar">
        <ul class="header__menu">
            <li class="header__menu-item" routerLink="/" routerLinkActive="header__menu-item--active" [routerLinkActiveOptions]="{ exact: true }">Библиотека</li>
            <li class="header__menu-item" routerLink="/constructor/layouts" routerLinkActive="header__menu-item--active">Брендирование</li>
            <li class="header__menu-item" routerLink="/about" routerLinkActive="header__menu-item--active">О платформе</li>
        </ul>
    </nav>
    
    @if (authService.currentUser()) {

    <div class="header__user">
        {{ authService.currentUser()?.name }}
    </div>

    } @else {

        <button class="header__button" (click)="openLoginModal()">
            <img src="/signIn.svg">
            <span>Войти</span>
        </button>

    }
</header>

<app-login-modal
  *ngIf="isLoginModalOpen"
  (close)="closeLoginModal()"
></app-login-modal>