:host {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;

    &__logo {
        margin-left: 64px;
        margin-top: 18px;
        margin-bottom: 18px;
    }
    &__menu {
        display: flex;
        gap: 32px;
        margin: 0;
        padding: 0;
        &-item {
            cursor: pointer;
            color: #888888;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            &--active {
                color: #1A1A1A;
            }
        } 
    }

    &__button {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-right: 64px;
        margin-top: 12px;
        margin-bottom: 12px;
        background-color: #C40E3D;
        border-style: none;
        padding: 10px 20px;
        border-radius: 14px;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        cursor: pointer;
    }
}