<header class="header">
    <img src="/Logotip_Color 3.svg" class="header__logo">

    <nav class="header__navbar">
        <ul class="header__menu">
            <li class="header__menu-item"
                routerLink="/"
                routerLinkActive="header__menu-item--active"
                [routerLinkActiveOptions]="{ exact: true }">
                Библиотека
            </li>

            <li class="header__menu-item"
                routerLink="/branding-catalog"
                routerLinkActive="header__menu-item--active">
                Брендирование
            </li>
        </ul>
    </nav>

    <div class="header__right">
        @if (authService.currentUser()) {
            <div class="header__profile" (click)="goToProfile()">

                <div class="header__avatar">
                    <img src="userIcon.svg">
                </div>

                <div class="header__profile-name">
                    {{ authService.currentUser().firstName }}
                    {{ authService.currentUser().lastName }}
                </div>

            </div>
        }

        <button
            class="header__button"
            [class.header__button--auth]="authService.currentUser()"
            (click)="authService.currentUser() ? goToProfile() : openLoginModal()"
        >
            <img src="/signIn.svg">
            <span>
                Войти
            </span>
        </button>

    </div>
</header>

<app-login-modal
  *ngIf="isLoginModalOpen"
  (close)="closeLoginModal()"
></app-login-modal>