<header class="header">
    <img src="/logo.svg" class="header__logo">
    <div class="header__nav">
        <button class="header__button header__button--active">Просмотр</button>
        <button class="header__button">Брендирование</button>
    </div>

    <button class="header__signIn">
        <img src="/signIn.svg">
        <span>Войти</span>
    </button>
</header>

<section class="hero-section">
    <a href="#" routerLink="/" class="hero-section__button">
        ← На главную
    </a>

    <div class="hero-section__text">
        <h1 class="hero-section__title">Библиотека материалов</h1>
        <p class="hero-section__subtitle">Логотипы, шрифты, паттерны и кейсы бренда Ямал</p>
    </div>
</section>

<section class="hero-catalog">
    <div class="hero-catalog__filter-panel">
        <div class="hero-catalog__input">
            <img src="/searchIcon.svg">
            <input placeholder="Поиск материалов..." class="hero-catalog__input-field" [(ngModel)]="search" (input)="filterCards()">
        </div>
        <app-filter-drawer [isOpen]="isOpen" 
            (closeDrawer)="closeDrawer()" 
            (apply)="applyFilters($event)"
            [categories]="categories"></app-filter-drawer>
        <button class="hero-catalog__button" (click)="openDrawer()">
            <img src="/filterIcon.svg">
            Фильтры
        </button>

        
        <div class="hero-catalog__view-switch">
            <button class="hero-catalog__viewButton hero-catalog__viewButton--active hero-catalog__viewButton--left">
                <img class="" src="/wrapperIcon.svg">
            </button>

            <button class="hero-catalog__viewButton hero-catalog__viewButton--right">
                <img class="" src="/emptyIcon.svg">
            </button>
        </div>
    </div>

    <ul class="hero-catalog__category-buttons">
        <li 
            class="hero-catalog__category-button"
            [class.hero-catalog__category-button--active]="selectedCategory === 'Все'"
            (click)="setCategory('Все')"
        >Все</li>

        <li 
            class="hero-catalog__category-button"
            [class.hero-catalog__category-button--active]="selectedCategory === 'Логотип'"
            (click)="setCategory('Логотип')"
        >Логотип</li>

        <li 
            class="hero-catalog__category-button"
            [class.hero-catalog__category-button--active]="selectedCategory === 'Шрифт'"
            (click)="setCategory('Шрифт')"
        >Шрифт</li>

        <li 
            class="hero-catalog__category-button"
            [class.hero-catalog__category-button--active]="selectedCategory === 'Паттерн'"
            (click)="setCategory('Паттерн')"
        >Паттерн</li>

        <li 
            class="hero-catalog__category-button"
            [class.hero-catalog__category-button--active]="selectedCategory === 'Иллюстрация'"
            (click)="setCategory('Иллюстрация')"
        >Иллюстрация</li>

        <li 
            class="hero-catalog__category-button"
            [class.hero-catalog__category-button--active]="selectedCategory === 'Кейс'"
            (click)="setCategory('Кейс')"
        >Кейс</li>

        <li 
            class="hero-catalog__category-button"
            [class.hero-catalog__category-button--active]="selectedCategory === 'Брендбук'"
            (click)="setCategory('Брендбук')"
        >Брендбук</li>

        <li 
            class="hero-catalog__category-button"
            [class.hero-catalog__category-button--active]="selectedCategory === 'Фирменный знак'"
            (click)="setCategory('Фирменный знак')"
        >Фирменный знак</li>

        <li 
            class="hero-catalog__category-button"
            [class.hero-catalog__category-button--active]="selectedCategory === 'Сувенирная продукция'"
            (click)="setCategory('Сувенирная продукция')"
        >Сувенирная продукция</li>
    </ul>

    <div class="hero-catalog__category-list">
        <p class="hero-catalog__text">Сферы:</p>
        <ul>
            <li class="hero-catalog__category-list--item hero-catalog__category-list--red">
                <p>Айдентика</p>
            </li>
            <li class="hero-catalog__category-list--item hero-catalog__category-list--blue">
                <p>Навигация</p>
            </li>
            <li class="hero-catalog__category-list--item hero-catalog__category-list--green">
                <p>Документы</p>
            </li>
            <li class="hero-catalog__category-list--item hero-catalog__category-list--swamp">
                <p>Диджитал</p>
            </li>
        </ul>
    </div>

    <app-card-modal 
        *ngIf="selectedCard"
        [card]="selectedCard"
        (close)="closeCard()"
    ></app-card-modal>

    <div class="hero-catalog__cards">
        <div 
            class="hero-catalog__card"
            [ngClass]="'hero-catalog__card--' + card.filter"
            *ngFor="let card of filteredCards"
            (click)="openCard(card)"
        >
            <div class="hero-catalog__cover">
                <img src="/cardIcon.svg" class="hero-catalog__pic">
                <span class="hero-catalog__card-category">
                    {{ card.sphere }}
                </span>
            </div>

            <div class="hero-catalog__content">
                <span class="hero-catalog__title">
                    {{ card.title }}
                </span>

                <span class="hero-catalog__formats">
                    {{ card.formats.join(', ') }}
                </span>
            </div>
        </div>
    </div>
</section>

<footer class="page-footer">
    <div class="page-footer__container">
        <p class="page-footer__name">© 2024 Бренд Ямал. Все права защищены</p>
        <div class="page-footer__meta">
            <span class="page-footer__meta">Политика конфиденциальности</span>
            <a href="mailto:brand@yanao.ru">brand@yanao.ru</a>
        </div>
        
    </div>
</footer>

