<div class="login-modal">
  <header class="login-modal__topbar">
    <img src="/Logotip_Color 3.svg" class="login-modal__logo" />

    <a routerLink="/" class="login-modal__button" (click)="onClose()">
      ← На главную
    </a>
  </header>

  <div class="login-modal__overlay" (click)="onClose()"></div>

  <div class="login-modal__content">

    <div class="login-modal__header">
      <p class="login-modal__text">
        {{ mode === 'login' ? 'Вход в систему' : 'Регистрация' }}
      </p>

      <h2 class="login-modal__title">
        Конструктор бренда Ямал
      </h2>
    </div>

    <div class="login-modal__main-section">

      <div class="login-modal__inputs" *ngIf="mode === 'login'">

        <div class="login-modal__field">
          <span class="login-modal__input-title">Email</span>
          <input type="email" placeholder="user@yanao.ru" [(ngModel)]="email" />
        </div>

        <div class="login-modal__field">
          <span class="login-modal__input-title">Пароль</span>
          <input type="password" placeholder="••••••••" [(ngModel)]="password" />
        </div>

      </div>
      <div class="login-modal__inputs" *ngIf="mode === 'register'">
        <div class="login-modal__field">
          <span class="login-modal__input-title">Фамилия</span>
          <input type="text" [(ngModel)]="registerData.lastName" />
        </div>

        <div class="login-modal__field">
          <span class="login-modal__input-title">Имя</span>
          <input type="text" [(ngModel)]="registerData.firstName" />
        </div>

        <div class="login-modal__field">
          <span class="login-modal__input-title">Отчество</span>
          <input type="text" [(ngModel)]="registerData.middleName" />
        </div>

        <div class="login-modal__field">
          <span class="login-modal__input-title">Телефон</span>
          <input type="text" [(ngModel)]="registerData.phoneNumber" />
        </div>

        <div class="login-modal__field">
          <span class="login-modal__input-title">Организация</span>
          <input type="text" [(ngModel)]="registerData.organization" />
        </div>

        <div class="login-modal__field">
          <span class="login-modal__input-title">Email</span>
          <input type="email" [(ngModel)]="registerData.email" />
        </div>

        <div class="login-modal__field">
          <span class="login-modal__input-title">Пароль</span>
          <input type="password" [(ngModel)]="registerData.password" />
        </div>

      </div>

      <button class="login-modal__submit" (click)="mode === 'login' ? onSubmit() : onRegister()">
        {{ mode === 'login' ? 'Войти' : 'Зарегистрироваться' }}
      </button>

      <button class="login-modal__switch login-modal__submit" (click)="switchMode()">
        {{ mode === 'login'
          ? 'Зарегистрироваться'
          : 'Войти'
        }}
      </button>

    </div>

    <div class="login-modal__rules">
      <p class="login-modal__rules-text">
        Вы должны войти, чтобы пользоваться конструктором.
      </p>
    </div>

  </div>
</div>