.login-modal {
  position: fixed;
  inset: 0;
  z-index: 1000;

  &__header {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(196, 14, 61, 1);
    border-radius: 24px 24px 0 0;
  }

  &__title {
    font-size: 24px;
    line-height: 36px;
    color: rgba(255, 255, 255, 1);
    font-weight: 800;
    margin-bottom: 32px;
  }


  &__text {
    font-size: 13px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 31px;
    margin-bottom: 21px;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
    background-color: rgba(249, 240, 225, 1);
  }

  &__content {
    position: relative;
    z-index: 2;
    width: 400px;
    margin: 120px auto;
    background: white;
    border-radius: 24px;
    padding-bottom: 37px;
  }

  &__main-section {
    margin-top: 28px;
    margin-left: 32px;
    margin-right: 32px;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 6px;

    input {
      padding: 12px 16px;
      border-radius: 12px;
      border: 1px solid rgba(232, 232, 232, 1);
      outline: none;
      background-color: rgba(250, 250, 250, 1);
    }
  }

  &__input-title {
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
  }

  &__submit {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    margin-bottom: 33px;
    border: none;
    border-radius: 12px;
    background: #C40E3D;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 15px;
    line-height: 23px;
    cursor: pointer;
  }

  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 18px;
  }

  &__rules {
    background-color: rgba(249, 240, 225, 1);
    border-radius: 12px;
    margin-left: 32px;
    margin-right: 32px;
  }

  &__rules-text {
    color: rgba(136, 136, 136, 1);
    font-size: 12px;
    line-height: 18px;
    padding: 17px;
  }
  &__topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    height: 62px;
    border: 1px solid rgba(240, 240, 240, 1);
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

    &__logo {
        height: 24px;
        width: 148px;
        padding: 18px 24px;
    }

    &__button {
        text-decoration: none;
        color: rgba(136, 136, 136, 1);
        font-size: 14px;
        line-height: 21px;
        padding: 20px 24px;
    }
}