<app-main-header></app-main-header>

<div class="section-header">
  <div class="section-header__path">
    <p class="section-header__text">Главная</p>
    <img src="pagePathIcon.svg">
    <p class="section-header__text">Брендирование</p>
    <img src="pagePathIcon.svg">
    <p class="section-header__text">{{ template.name }}</p>
  </div>

  <div class="section-header__title">
    <button class="icon-circle" routerLink="/branding-catalog">
      <img src="backIconWhite.svg">
    </button>
    <p class="section-header__title--text">{{ template.name }}</p>
  </div>
</div>

<div class="editor">

  <div class="editor-left">

    <div class="editor-card">
      <div class="editor-card__header">
        <div class="editor-card__title-wrapper">
          <div class="editor-card__icon editor-card__icon--red">
            <img src="/layerIcon.svg">
          </div>

          <p class="editor-card__title">Параметры носителя</p>
        </div>

        <button class="editor-card__toggle" (click)="isCarrierOpen = !isCarrierOpen">
          <img [src]="isCarrierOpen ? '/arrowUpIcon.svg' : '/arrowDownIcon.svg'">
        </button>
      </div>

      <div *ngIf="isCarrierOpen" class="editor-card__content editor-form-grid">

        <ng-container *ngFor="let field of carrierFields">
          <div *ngIf="field.group === 'carrier'" class="editor-field">

            <p class="editor-field__label">{{ field.label }}</p>

            <input
              *ngIf="field.type === 'text'"
              [(ngModel)]="formData[field.key]"
              [placeholder]="field.placeholder"
            >

          </div>
        </ng-container>

      </div>
    </div>

    <div class="editor-card" *ngIf="template.showLocationSettings">
      <div class="editor-card__header">
        <div class="editor-card__title-wrapper">
          <div class="editor-card__icon editor-card__icon--green">
            <img src="/locationIcon.svg">
          </div>

          <p class="editor-card__title">Населенный пункт и параметры</p>
        </div>

        <button class="editor-card__toggle" (click)="isCityOpen = !isCityOpen">
          <img [src]="isCityOpen ? '/arrowUpIcon.svg' : '/arrowDownIcon.svg'">
        </button>
      </div>

      <div *ngIf="isCityOpen" class="editor-card__content editor-form-grid">

        <ng-container *ngFor="let field of locationFields">
          <div *ngIf="field.group === 'location'" class="editor-field">

            <p class="editor-field__label">{{ field.label }}</p>

            <input
              [(ngModel)]="formData[field.key]"
              [placeholder]="field.placeholder"
            >

          </div>
        </ng-container>

      </div>
    </div>

    <div class="editor-card">
      <div class="editor-card__header">

        <div class="editor-card__title-wrapper">
          <div class="editor-card__icon editor-card__icon--purple">
            <img src="/photoIcon.svg">
          </div>

          <p class="editor-card__title">Логотип</p>
        </div>

        <button class="editor-card__toggle" (click)="isLogoOpen = !isLogoOpen">
          <img [src]="isLogoOpen ? '/arrowUpIcon.svg' : '/arrowDownIcon.svg'">
        </button>

      </div>

      <div *ngIf="isLogoOpen" class="editor-card__content editor-form-grid">

        <ng-container *ngFor="let field of logoFields">
          <div
            class="editor-field"
            *ngIf="field.key === 'cover1' || field.key === 'cover2'"
          >
            <p class="editor-field__label">{{ field.label }}</p>

            <select [(ngModel)]="formData[field.key]">
              <option
                *ngFor="let option of field.options"
                [value]="option.value"
              >
                {{ option.label }}
              </option>
            </select>
          </div>
        </ng-container>



      </div>

      <div *ngIf="template.hasPhotoUpload" class="editor-file-upload">
        <p class="editor-file-upload__title">Фото (будет сжиматься к размеру 535 на 541)</p>

        <input
          type="file"
          id="photoUpload"
          (change)="onPhotoSelected($event)"
          hidden
        >

        <label for="photoUpload" class="editor-file-upload__icon">
          <img src="/upLoadIcon.svg">
        </label>
      </div>
    </div>

  </div>

  <div class="editor-right">

    <div class="editor-card">

      <div class="editor__header">
        <p class="editor-card__title">Предпросмотр</p>
        <p class="editor-card__subtitle">Обновляется в реальном времени</p>
      </div>
      <div class="editor-preview">
        <div class="editor-export-wrapper">
          <div class="editor-export"   [style.width.px]="template.width" [style.height.px]="template.height" >

            <img
              [src]="template.image"
              class="editor-preview__image"
            >

            <img
              *ngIf="photoPreview"
              [src]="photoPreview"
              class="editor-preview__photo" 
            >
            <img
              *ngIf="photoPreview"
              src="/badge-stripe.svg"
              class="editor-preview__stripe"
            />

            <div class="logo-stack">
              <!-- <ng-container *ngFor="let logo of activeLogos; let i = index">

                <img
                  [src]="getLogoSrc(logo)"
                  class="editor-preview__cover"
                  [style.left.px]="getLogoPosition(i, logo).x"
                  [style.top.px]="getLogoPosition(i, logo).y"
                  [style.width.px]="getLogoSize(logo).width"
                  [style.height.px]="getLogoSize(logo).height"
                >

              </ng-container> -->
              <ng-container *ngFor="let logo of activeLogos; let i = index">
                <img
                  class="editor-preview__logo-flat"
                  [src]="getLogoSrc(logo)"
                  [style.left.px]="getLogoPosition(i, logo).x"
                  [style.top.px]="getLogoPosition(i, logo).y"
                  [style.width.px]="getLogoSize(logo).width"
                  [style.height.px]="getLogoSize(logo).height"
                  alt="logo"
                />
              </ng-container>
            </div>

            <ng-container *ngFor="let field of template.fields">
              <div
                *ngIf="field.type === 'text' && field.visibleInPreview"
                class="dynamic-text"
                [style.text-align]="field.textAlign || 'left'"
                [style.left.px]="field.x"
                [style.top.px]="field.y"
                [style.fontSize.px]="field.fontSize"
                [style.fontWeight]="field.fontWeight"
                [style.color]="field.color"
                [style.width.px]="template.id === 5 ? 140 : null"
                [style.width.px]="field.width"
              >
                
                <ng-container *ngIf="field.formatAsFio; else normalText">
                  <div class="fio-text" [class.fio-text--gramota]="template.id === 5">

                    <div class="fio-line">
                      {{ formatFio(formData[field.key], template.id).line1 }}
                    </div>

                    <div class="fio-line">
                      {{ formatFio(formData[field.key], template.id).line2 }}
                    </div>

                    <div class="fio-line" *ngIf="formatFio(formData[field.key], template.id).line3">
                      {{ formatFio(formData[field.key], template.id).line3 }}
                    </div>

                  </div>

                </ng-container>

                <ng-template #normalText>
                  <span
                    class="field-text"
                    [class.field-text--multiline]="field.multiline"
                    [class.certificate-text]="field.key === 'certificateText'"
                    [style.width.px]="field.width"
                  >
                    {{ field.key === 'event'
                        ? truncateEventName(formData[field.key])
                        : field.key === 'position'
                          ? truncatePosition(formData[field.key])
                          : field.key === 'major'
                          ? truncateMemberPosition(formData[field.key])
                          : formData[field.key]
                    }}
                  </span>
                </ng-template>

              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="editor-preview-info">
        <p class="editor-preview-info__label">Носитель</p>
        <p class="editor-preview-info__name">{{ template.name }}</p>
      </div>

      <div class="editor-preview-info__footer">
        <button class="editor-preview-info__button" routerLink="/branding-catalog">
          <img src="/greyLayoutIcon.svg">
          Выбрать другой носитель
        </button>
      </div>

    </div>

    <div class="editor-card editor-card--files">

      <p class="editor-card__title">Формат файла</p>

      <div class="checkbox-group">

        <label class="checkbox-item">
          <input
            type="radio"
            name="format"
            value="png"
            [(ngModel)]="selectedFormat">
          PNG
        </label>

        <label class="checkbox-item">
          <input
            type="radio"
            name="format"
            value="pdf"
            [(ngModel)]="selectedFormat">
          PDF
        </label>

        <label class="checkbox-item">
          <input
            type="radio"
            name="format"
            value="jpeg"
            [(ngModel)]="selectedFormat">
          JPEG
        </label>

      </div>

      <button class="download-button" (click)="handleDownload()">
        Скачать
      </button>

    </div>

  </div>

</div>