<app-main-header></app-main-header>

<div class="section-header">
  <div class="section-header__path">
    <p class="section-header__text">Главная</p>
    <img src="pagePathIcon.svg">
    <p class="section-header__text">Брендирование</p>
    <img src="pagePathIcon.svg">
    <p class="section-header__text">Визитная карточка</p>
  </div>

  <div class="section-header__title">
    <button class="icon-circle">
      <img src="backIconWhite.svg">
    </button>
    <p class="section-header__title--text">Визитная карточка</p>
  </div>
</div>

<div class="editor">
    <!-- LEFT -->
  <div class="editor-left">

    <!-- BLOCK 1 -->
    <div class="editor-card">

      <div class="editor-card__header">
        <div class="editor-card__title-wrapper">

          <div class="editor-card__icon editor-card__icon--red">
            <img src="/layerIcon.svg">
          </div>

          <p class="editor-card__title">
            Параметры носителя
          </p>

      </div>

        <button
          class="editor-card__toggle"
          (click)="isCarrierOpen = !isCarrierOpen"
        >
          <img
            [src]="isCarrierOpen ? '/arrowUpIcon.svg' : '/arrowDownIcon.svg'"
            alt=""
          >
        </button>

      </div>

      <div *ngIf="isCarrierOpen" class="editor-card__content editor-form-grid">

        <div
          *ngFor="let field of template.fields"
          class="editor-field"
        >

          <ng-container
            *ngIf="
              field.key === 'organization' ||
              field.key === 'fullName' ||
              field.key === 'position' ||
              field.key === 'phone' ||
              field.key === 'email' ||
              field.key === 'address'
            "
          >

            <p class="editor-field__label">
              {{ field.label }}
            </p>

            <input
              [(ngModel)]="formData[field.key]"
              [placeholder]="field.placeholder"
            >

          </ng-container>

        </div>

      </div>

    </div>

    <!-- BLOCK 2 -->
    <div class="editor-card">

      <div class="editor-card__header">

        <div class="editor-card__title-wrapper">

          <div class="editor-card__icon editor-card__icon--green">
            <img src="/locationIcon.svg">
          </div>

          <p class="editor-card__title">
            Населенный пункт и параметры
          </p>

        </div>

        <button
          class="editor-card__toggle"
          (click)="isCityOpen = !isCityOpen"
        >
          <img
            [src]="isCityOpen ? '/arrowUpIcon.svg' : '/arrowDownIcon.svg'"
            alt=""
          >
        </button>

      </div>

      <div *ngIf="isCityOpen" class="editor-card__content editor-form-grid">

        <ng-container *ngFor="let field of template.fields">

          <div
            class="editor-field"
            *ngIf="field.key === 'city' || field.key === 'date'"
          >
            <p class="editor-field__label">
              {{ field.label }}
            </p>

            <input
              [(ngModel)]="formData[field.key]"
              [placeholder]="field.placeholder"
            >
          </div>

        </ng-container>

      </div>

    </div>

    <!-- BLOCK 3 -->
    <div class="editor-card">

      <div class="editor-card__header">

        <div class="editor-card__title-wrapper">

          <div class="editor-card__icon editor-card__icon--purple">
            <img src="/photoIcon.svg">
          </div>

          <p class="editor-card__title">
            Логотип
          </p>
        </div>

        <button
          class="editor-card__toggle"
          (click)="isLogoOpen = !isLogoOpen"
        >
          <img
            [src]="isLogoOpen ? '/arrowUpIcon.svg' : '/arrowDownIcon.svg'"
            alt=""
          >
        </button>

      </div>

      <div *ngIf="isLogoOpen" class="editor-card__content editor-form-grid">

        <!-- SELECT --->
         <ng-container *ngFor="let field of template.fields">

            <div
              class="editor-field"
              *ngIf="field.key === 'cover1' || field.key === 'cover2'"
            >
              <p class="editor-field__label">
                {{ field.label }}
              </p>

              <select
                [(ngModel)]="formData[field.key]"
              >
                <option
                  *ngFor="let option of field.options"
                  [value]="option.value"
                >
                  {{ option.label }}
                </option>
              </select>
            </div>

        </ng-container>

        <!-- DESIGN BUTTONS -->
        <div class="design-buttons">
          <button class="design-button">
            <span class="design-button__color design-button__color--red"></span>
            Фирменный красный
          </button>

          <button class="design-button">
            <span class="design-button__color design-button__color--bone"></span>
            Мамонтовая кость
          </button>
        </div>

      </div>

    </div>

  </div>

  <!-- RIGHT -->
  <div class="editor-right">

    <!-- BLOCK 4 -->
    <div class="editor-card">
      <div class="editor__header">
        <p class="editor-card__title">
          Предпросмотр
        </p>
        <p class="editor-card__subtitle">Обновляется в реальном времени</p>
      </div>
      
      <div class="editor-preview">

        <div class="editor-export">

          <img
            [src]="template.image"
            class="editor-preview__image"
          >

          <img
            *ngIf="formData['cover1'] === 'photo1'"
            src="/Logotip_Color 2.svg"
            class="editor-preview__cover"
          />

          <img
            *ngIf="formData['cover2'] === 'photo2'"
            src="/gazprom-logo-eng 2.svg"
            class="editor-preview__cover"
          />

          <div
            *ngFor="let field of template.fields"
            class="dynamic-text"

            [style.left.px]="field.x"
            [style.top.px]="field.y"

            [style.fontSize.px]="field.fontSize"
            [style.fontWeight]="field.fontWeight"
            [style.color]="field.color"
          >
            <span
              [innerHTML]="
                field.key === 'fullName'
                ? formData[field.key]?.replace(' ', '<br>')
                : formData[field.key]
              "
            ></span>
          </div>

        </div>

      </div>
      <div class="editor-preview-info">

        <p class="editor-preview-info__label">
          Носитель
        </p>

        <p class="editor-preview-info__name">
          {{ template.name }}
        </p>
      </div>

      <div class="editor-preview-info__footer">
        <button class="editor-preview-info__button">
          <img src="/greyLayoutIcon.svg">
          Выбрать другой носитель
        </button>
      </div>
    </div>

    <!-- BLOCK 5 -->
    <div class="editor-card editor-card--files">

      <p class="editor-card__title">
        Формат файла
      </p>

      <div class="checkbox-group">

        <label class="checkbox-item">
          <input type="checkbox">
          PNG
        </label>

        <label class="checkbox-item">
          <input type="checkbox">
          PDF
        </label>

        <label class="checkbox-item">
          <input type="checkbox">
          SVG
        </label>

        <label class="checkbox-item">
          <input type="checkbox">
          JPEG
        </label>

      </div>

      <button
        class="download-button"
        (click)="downloadTemplate()"
      >
        Скачать
      </button>

    </div>

  </div>

</div>