<footer class="page-footer">
    <div class="page-footer__content">
        <a routerLink="/" class="page-footer__logo">
            <img src="/brandLogo.svg">
            <div class="page-footer__name">
                <span class="page-footer__name--painted">БРЕНД</span>
                <span class="page-footer__name--slogan">ЯМАЛ</span>
            </div>            
        </a>
        <p class="page-footer__text">© 2024 ЯНАО. Все права защищены</p>
        <div class="page-footer__meta">
            <a href="#" class="page-footer__meta--confidentiality">Политика конфиденциальности</a>
            <a href="#" class="page-footer__meta--agreement">Пользовательское соглашение</a>
            <a href="mailto:brand@yanao.ru" class="page-footer__meta--email">brand@yanao.ru</a>
        </div>
        <span class="page-footer__support">Поддержка: <a href="tel:+78001009600" class="page-footer__support--phone">8-800-100-96-00</a></span>
    </div>
</footer>