<div 
    class="layout-preview"
    #preview
    >
    <img
        #image
        class="layout-preview__image"
        [src]="template.preview"
        alt=""
    >
    <div class="layout-preview__overlay"
    >
        <app-qr-code
            *ngIf="qrCodesGenerated && qrCode1Enabled && template.qrCodes?.[0] as qrCode"
            class="layout-preview__qr-code"
            [value]="qrCode1"
            [size]="qrCode.size"
            [style.left.px]="qrCode.x"
            [style.top.px]="qrCode.y"
        ></app-qr-code>
        <div
            *ngIf="qrCodesGenerated && qrCode1Enabled && qrCode1Label && template.qrCodes?.[0] as qrCode"
            class="layout-preview__qr-label"
            [style.left.px]="qrCode.x"
            [style.top.px]="qrCode.y"
            [style.width.px]="qrCode.size"
            [style.fontSize.px]="qrCode.labelFontSize"
        >
            {{ qrCode1Label }}
        </div>
        <app-qr-code
            *ngIf="qrCodesGenerated && qrCode2Enabled && template.qrCodes?.[1] as qrCode"
            class="layout-preview__qr-code"
            [value]="qrCode2"
            [size]="qrCode.size"
            [style.left.px]="qrCode.x"
            [style.top.px]="qrCode.y"
        ></app-qr-code>
        <div
            *ngIf="qrCodesGenerated && qrCode2Enabled && qrCode2Label && template.qrCodes?.[1] as qrCode"
            class="layout-preview__qr-label"
            [style.left.px]="qrCode.x"
            [style.top.px]="qrCode.y"
            [style.width.px]="qrCode.size"
            [style.fontSize.px]="qrCode.labelFontSize"
        >
            {{ qrCode2Label }}
        </div>
        <div 
            class="layout-preview__full-name"
            [style.left.px]="fullNameField?.x"
            [style.top.px]="fullNameField?.y"
            [style.fontSize.px]="fullNameField?.fontSize"
            [style.fontWeight]="fullNameField?.fontWeight"
            [style.color]="fullNameField?.color"
            [style.width.px]="fullNameField?.width"
            [class.layout-preview__full-name--business-card-centered]="
                layoutName === 'Визитки' && template.id === 4
            "
            [class.layout-preview__full-name--badge-centered]="
                layoutName === 'Бейджи'
            "
        >
            <div
                *ngFor="let name of formatFullName(fullName); let i = index"
                [class.layout-preview__full-name-line--second]="
                    i === 1 && !(layoutName === 'Визитки' && template.id === 4)
                "

                [class.layout-preview__full-name-line--business-card-first-centered]="
                    i === 0 && layoutName === 'Визитки' && template.id === 4
                "
                [class.layout-preview__full-name-line--short]="
                    i === 1 &&
                    isShortFullName(fullName) &&
                    layoutName === 'Визитки' &&
                    template.id === 4
                "
                [style.--full-name-continuation-offset.px]="template.fullNameContinuationOffset ?? 0"
                
                [class.layout-preview__full-name-line--centered]="
                    i === 1 && layoutName === 'Визитки' && template.id === 4 && isShortFullName(fullName)
                "
                [class.layout-preview__full-name-line--badge-centered]="
                    template.splitPatronymic === true
                "

                [class.layout-preview__full-name-line--business-card-centered]="
                    i === 1 && layoutName === 'Визитки' && template.id === 4
                "
            >
                {{ name }}
            </div>
        </div>

        <div
            class="layout-preview__position"
            [class.layout-preview__position--business-card-centered]="
                layoutName === 'Визитки' && template.id === 4
            "
            [style.left.px]="positionField?.x"
            [style.top.px]="positionField?.y"
            [style.fontSize.px]="positionField?.fontSize"
            [style.width.px]="positionField?.width"
            [style.fontWeight]="positionField?.fontWeight"
            [style.color]="positionField?.color"
            [class.layout-preview__position--badge-centered]="layoutName === 'Бейджи'"
        >
            {{ position }}
        </div>

        <div *ngIf="cityField"
            class="layout-preview__city"
            [class.layout-preview__city--centered]="layoutName === 'Бейджи' && template.id === 3"
            [style.left.px]="cityField.x"
            [style.top.px]="cityField.y"
            [style.width.px]="cityField.width"
            [style.fontSize.px]="cityField.fontSize"
            [style.fontWeight]="cityField.fontWeight"
            [style.color]="cityField.color"
        >
            {{ city }}
        </div>

        <div *ngIf="dateField"
            class="layout-preview__date"
            [class.layout-preview__date--centered]="layoutName === 'Бейджи' && template.id === 3"
            [style.left.px]="dateField.x"
            [style.top.px]="dateField.y"
            [style.width.px]="dateField.width"
            [style.fontSize.px]="dateField.fontSize"
            [style.fontWeight]="dateField.fontWeight"
            [style.color]="dateField.color"
        >
            {{ date }}
        </div>

        <div
            class="layout-preview__phone"
            [style.left.px]="phoneField?.x"
            [style.top.px]="phoneField?.y"
            [style.fontSize.px]="phoneField?.fontSize"
            [style.fontWeight]="phoneField?.fontWeight"
        >
            {{ phone }}
        </div>

        <div
            class="layout-preview__mobilePhone"
            [style.left.px]="mobilePhoneField?.x"
            [style.top.px]="mobilePhoneField?.y"
            [style.fontSize.px]="mobilePhoneField?.fontSize"
            [style.fontWeight]="mobilePhoneField?.fontWeight"
        >
            {{ mobilePhone }}
        </div>

        <div
            class="layout-preview__email"
            [style.left.px]="emailField?.x"
            [style.top.px]="emailField?.y"
            [style.fontSize.px]="emailField?.fontSize"
            [style.fontWeight]="emailField?.fontWeight"
        >
            {{ email }}
        </div>

        <div
            class="layout-preview__address"
            [style.left.px]="addressField?.x"
            [style.top.px]="addressField?.y"
            [style.fontSize.px]="addressField?.fontSize"
            [style.fontWeight]="addressField?.fontWeight"
            [style.width.px]="addressField?.width"
            [style.--address-continuation-offset.px]="template.addressContinuationOffset ?? 0"
        >
            <div *ngFor="let line of formatAddress(address); let i = index"
                class="layout-preview__address-line"
                [class.layout-preview__address-line--continuation]="
                i > 0 && template.addressContinuationOffset !== undefined
            ">
                {{ line }}
            </div>
        </div>
    </div>
</div>