.layout-preview {
    position: relative;
    width: fit-content;
    margin: 0 auto;

    &__image {
        display: block;
        max-width: auto;
        height: auto;
    }

    &__overlay {
        position: absolute;
        inset: 0;
    }

    &__full-name,
    &__position,
    &__phone,
    &__mobilePhone,
    &__email,
    &__address,
    &__qr-code {
        position: absolute;
    }

    &__phone,
    &__mobilePhone,
    &__email,
    &__address  {
        color: rgba(34, 37, 47, 1);
    }

    &__email {
        text-decoration: underline;
    }

    &__address-line {
        &--continuation {
            transform: translateX(var(--address-continuation-offset));
        }
    }

    &__full-name-line--second {
        transform: translateX(var(--full-name-continuation-offset));
    }
}

.layout-preview__qr-label {
    position: absolute;
    transform: translateY(calc(-100% - 5px));

    text-align: center;
    font-weight: 700;
    line-height: 1.2;

    white-space: normal;
    overflow-wrap: normal;
    word-break: normal;
}