.constructor {
    min-height: 100vh;
    background-color: #fcf9f7;

    &__body {
        position: relative;
        display: grid;
        grid-template-rows: auto auto;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 16px;
    }

    &__logo {
        display: flex;
        align-items: center;
        margin-top: 13px;
    }

    &__logo-text {
        margin: 0;
        line-height: 16px;
        font-weight: 500;
        color: #000;
    }

    &__buttons {
        display: flex;
        align-items: center;
        margin-right: 18px;
        margin-top: 18px;
    }

    &__action-buttons {
        display: flex;
        gap: 10px;
    }

    &__action-button {
        display: flex;
        align-items: center;
        gap: 6px;

        padding: 7px 11px 8px 12px;

        background-color: #ececec;
        border-radius: 6px;

        font-size: 16px;
    }

    &__download-button {
        display: flex;
        align-items: center;
        gap: 7px;

        margin-left: 28px;
        padding: 7px 11px 8px 12px;

        background-color: #d0153a;
        border-radius: 6px;
        color: #fcf8f6;

        font-size: 16px;
    }

    &__section-header {
        position: relative;
        
        display: grid;
        grid-template-columns: max-content max-content minmax(0, 1fr);

        margin-top: 40px;
    
        &::before {
            content: '';
            position: absolute;
            inset: 50% 0 auto;
            height: 1px;
            background-color: #e3dfde;
        }
    }

    &__section-title {
        display: flex;
        align-items: center;
        align-self: stretch;
        padding: 16px;
        gap: 10px;
        z-index: 1;
        min-width: 138px;
        margin-left: 16px;
        background-color: #d0153a;
        border-radius: 12px;

        color: #fcf8f6;
        font-size: 16px;
        font-weight: 400;
    }

    &__category {
        position: relative;
        display: inline-flex;
        align-items: center;
        z-index: 1;

        padding: 0 10px 5px;
        transform: translateY(-23px);
        background-color: #fcf9f7;

        font-size: 16px;

        &::after {
            content: '';

            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;

            height: 3px;
            background-color: #d0153a;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: max-content max-content minmax(0, 1fr);
        align-items: stretch;
        margin-top: -45px;
        padding-top: 20px;
    }

    &__categories {
        padding: 0 16px;
    }

    &__categories-title {
        font-size: 16px;
        margin-top: 26px;
        margin-bottom: 10px;
        font-weight: 500;
    }

    &__layout {
        display: flex;
        align-items: center;
        gap: 11px;

        width: 100%;
        max-width: 330px;
        padding: 14px;

        border: 0;
        border-radius: 8px;
        background: transparent;

        text-align: left;
        font-size: 16px;
        cursor: pointer;

        &--active {
            background-color: #f5f0ec;
        }

        img {
            width: 26px;
            height: 14px;
            object-fit: contain;
        }
    }

    &__templates {
        min-width: 0;
        padding: 0 20px;
        border-left: 1px solid #e3dfde;
    }

    &__workspace {
        min-width: 0;

        display: flex;
        flex-direction: column;
        gap: 30px;

        padding: 30px 20px 0 37px;

        border-left: 1px solid #e3dfde;
    }

    &__form {
        width: 100%;

        border: 1px solid #e4e0df;
        border-radius: 6px;

        background-color: #fff;
    }
}

.logo-img {
    width: 211px;
    margin: 0;
    padding: 0;
    height: 31px;
}
