* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0; 
  font-family: 'Golos Text', sans-serif;
  background-color: #F9F0E1;
}

button {
  border: none;
  background-color: transparent;
}