<div class="drawer">
    <div class="drawer__header">
        <p class="drawer__text">Фильтры</p>
        <button class="drawer__close">
            <img src="/closeIcon.svg" class="drawer__icon">
        </button>
    </div>

    <div class="drawer__section">
        <h3 class="drawer__title">Категория</h3>

        <ul class="drawer__list">
            <li>
                <label class="drawer__item">
                    <input type="checkbox">
                    <span class="drawer__dot drawer__dot--red"></span>
                    <span class="drawer__label">Айдентика</span>
                </label>
            </li>

            <li>
                <label class="drawer__item">
                    <input type="checkbox">
                    <span class="drawer__dot drawer__dot--blue"></span>
                    <span class="drawer__label">Навигация</span>
                </label>
            </li>

            <li>
                <label class="drawer__item">
                    <input type="checkbox">
                    <span class="drawer__dot drawer__dot--green"></span>
                    <span class="drawer__label">Документы</span>
                </label>
            </li>

            <li>
                <label class="drawer__item">
                    <input type="checkbox">
                    <span class="drawer__dot drawer__dot--swamp"></span>
                    <span class="drawer__label">Диджитал</span>
                </label>
            </li>
        </ul>
    </div>

    <div class="drawer__section">
        <h3 class="drawer__title">Формат файла</h3>

        <ul class="drawer__list">
            <li>
                <label class="drawer__item">
                    <input type="checkbox">
                    <span class="drawer__label">PDF</span>
                </label>
            </li>

            <li>
                <label class="drawer__item">
                    <input type="checkbox">
                    <span class="drawer__label">SVG</span>
                </label>
            </li>

            <li>
                <label class="drawer__item">
                    <input type="checkbox">
                    <span class="drawer__label">PNG</span>
                </label>
            </li>

            <li>
                <label class="drawer__item">
                    <input type="checkbox">
                    <span class="drawer__label">AI / EPS</span>
                </label>
            </li>

            <li>
                <label class="drawer__item">
                    <input type="checkbox">
                    <span class="drawer__label">DOCS / PPTX</span>
                </label>
            </li>
        </ul>
    </div>

    <div class="drawer__section">
        <h3 class="drawer__title">Города</h3>

        <ul class="drawer__list">
            <li>
                <label class="drawer__item">
                    <input type="checkbox">
                    <span class="drawer__label">Салехард</span>
                </label>
            </li>

            <li>
                <label class="drawer__item">
                    <input type="checkbox">
                    <span class="drawer__label">Новый Уренгой</span>
                </label>
            </li>

            <li>
                <label class="drawer__item">
                    <input type="checkbox">
                    <span class="drawer__label">Ноябрьск</span>
                </label>
            </li>
        </ul>
    </div>

    <div class="drawer__section">
        <h3 class="drawer__title">Цвет</h3>

        <ul class="drawer__list">
            <li>
                <label class="drawer__item">
                    <input type="checkbox">
                    <span class="drawer__label">Белый</span>
                </label>
            </li>

            <li>
                <label class="drawer__item">
                    <input type="checkbox">
                    <span class="drawer__label">Чёрный</span>
                </label>
            </li>

            <li>
                <label class="drawer__item">
                    <input type="checkbox">
                    <span class="drawer__label">Красный</span>
                </label>
            </li>

            <li>
                <label class="drawer__item">
                    <input type="checkbox">
                    <span class="drawer__label">Синий</span>
                </label>
            </li>

            <li>
                <label class="drawer__item">
                    <input type="checkbox">
                    <span class="drawer__label">Зеленый</span>
                </label>
            </li>
        </ul>
    </div>

    <div class="drawer__buttons">
        <button class="drawer__button drawer__button--reset">
            Сбросить
        </button>

        <button class="drawer__button drawer__button--apply">
            Применить
        </button>
    </div>

</div>