<div class="drawer">
    <div class="drawer-header">
        <p class="drawer-header__text">Фильтры</p>
        <button class="drawer-header__button">
            <img src="/closeIcon.svg" class="drawer-header__pic">
        </button>
    </div>

    <div class="drawer-section">
        <h3 class="drawer-section__title">Категория</h3>

        <ul class="drawer-section__list">
            <li>
                <label class="drawer-section__item">
                    <input type="checkbox">
                    <span class="drawer-section__dot drawer-section__dot--red"></span>
                    <span class="drawer-section__label">Айдентика</span>
                </label>
            </li>

            <li>
                <label class="drawer-section__item">
                    <input type="checkbox">
                    <span class="drawer-section__dot drawer-section__dot--blue"></span>
                    <span class="drawer-section__label">Навигация</span>
                </label>
            </li>

            <li>
                <label class="drawer-section__item">
                    <input type="checkbox">
                    <span class="drawer-section__dot drawer-section__dot--green"></span>
                    <span class="drawer-section__label">Документы</span>
                </label>
            </li>

            <li>
                <label class="drawer-section__item">
                    <input type="checkbox">
                    <span class="drawer-section__dot drawer-section__dot--swamp"></span>
                    <span class="drawer-section__label">Диджитал</span>
                </label>
            </li>
        </ul>
    </div>

    <div class="drawer-section">
        <h3 class="drawer-section__title">Формат файла</h3>

        <ul class="drawer-section__list">
            <li>
                <label class="drawer-section__item">
                    <input type="checkbox">
                    <span class="drawer-section__label">PDF</span>
                </label>
            </li>

            <li>
                <label class="drawer-section__item">
                    <input type="checkbox">
                    <span class="drawer-section__label">SVG</span>
                </label>
            </li>

            <li>
                <label class="drawer-section__item">
                    <input type="checkbox">
                    <span class="drawer-section__label">PNG</span>
                </label>
            </li>

            <li>
                <label class="drawer-section__item">
                    <input type="checkbox">
                    <span class="drawer-section__label">AI / EPS</span>
                </label>
            </li>

            <li>
                <label class="drawer-section__item">
                    <input type="checkbox">
                    <span class="drawer-section__label">DOCS / PPTX</span>
                </label>
            </li>
        </ul>
    </div>

    <div class="drawer-section">
        <h3 class="drawer-section__title">Города</h3>

        <ul class="drawer-section__list">
            <li>
                <label class="drawer-section__item">
                    <input type="checkbox">
                    <span class="drawer-section__label">Салехард</span>
                </label>
            </li>

            <li>
                <label class="drawer-section__item">
                    <input type="checkbox">
                    <span class="drawer-section__label">Новый Уренгой</span>
                </label>
            </li>

            <li>
                <label class="drawer-section__item">
                    <input type="checkbox">
                    <span class="drawer-section__label">Ноябрьск</span>
                </label>
            </li>
        </ul>
    </div>

    <div class="drawer-section">
        <h3 class="drawer-section__title">Цвет</h3>

        <ul class="drawer-section__list">
            <li>
                <label class="drawer-section__item">
                    <input type="checkbox">
                    <span class="drawer-section__label">Белый</span>
                </label>
            </li>

            <li>
                <label class="drawer-section__item">
                    <input type="checkbox">
                    <span class="drawer-section__label">Чёрный</span>
                </label>
            </li>

            <li>
                <label class="drawer-section__item">
                    <input type="checkbox">
                    <span class="drawer-section__label">Красный</span>
                </label>
            </li>

            <li>
                <label class="drawer-section__item">
                    <input type="checkbox">
                    <span class="drawer-section__label">Синий</span>
                </label>
            </li>

            <li>
                <label class="drawer-section__item">
                    <input type="checkbox">
                    <span class="drawer-section__label">Зеленый</span>
                </label>
            </li>
        </ul>
    </div>

    <div class="drawer__buttons">
        <button class="drawer__button drawer__button--reset">
            Сбросить
        </button>

        <button class="drawer__button drawer__button--apply">
            Применить
        </button>
    </div>

</div>