<app-main-header></app-main-header>

<section class="hero-section">
    <div class="hero-section__subtitle">
        <img src="/addIcon.svg">
        <p>ОФИЦИАЛЬНАЯ ПЛАТФОРМА БРЕНДА</p>
    </div>

    <h1 class="hero-section__title">Конструктор бренда ЯМАЛ</h1>

    <p class="hero-section__text">Создание и управление фирменным стилем ЯНАО</p>
    
    <div class="hero-section__buttons">
        <button type="button" class="hero-section__button hero-section__button--branding" routerLink="/branding-catalog">
            <span>Брендирование</span>
            <img src="/moveIcon.svg">
        </button>

        <button type="button" class="hero-section__button hero-section__button--catalog">
            <span routerLink="/catalog">Каталог</span>
        </button>
    </div>
</section>

<section class="example-section">
    <div class="example-section__text-with-line">
        <p class="example-section__text">Примеры брендирования</p>
    </div>
    <div class="example-section__carousel">

        <div
            class="example-section__button example-section__button--left"
            (click)="prevSlide()"
        >
            <img src="/anotherButtonLast.svg">
        </div>

        <div class="example-section__images">

            <div
                class="example-section__images-container"
                *ngFor="let slide of visibleSlides"
            >
                <img [src]="slide.image">

                <p class="example-section__image-caption">
                    {{ slide.title }}

                    <span class="example-section__image-caption-desc">
                        {{ slide.desc }}
                    </span>
                </p>
            </div>

        </div>

        <div
            class="example-section__button example-section__button--right"
            (click)="nextSlide()"
        >
            <img src="/anotherButtonLast.svg">
        </div>

    </div>

    <div class="example-section__dots">

        <span
            *ngFor="let _ of [].constructor(dotsCount); let i = index"
            class="example-section__dot"
            [class.example-section__dot--active]="i === currentIndex"
            (click)="setSlideByDot(i)"
        ></span>

    </div>
</section>

<app-main-footer></app-main-footer>