.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #F9F0E1;
  border-radius: 16px;
  padding: 20px;
  max-height: 90vh;
  overflow: auto;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.preview {
  position: relative;
  background: white;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  position: absolute;
}