<div class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h2>Предпросмотр макета</h2>

      <button (click)="closeModal()">✕</button>
    </div>
    <div
      #previewRef
      class="preview"
      [style.width.px]="template?.width"
      [style.height.px]="template?.height"
    >

      <img [src]="template?.image" class="bg" />

      <ng-container *ngFor="let field of (template?.fields || [])">

        <div
          *ngIf="field.type === 'text'"
          class="text"
          [style.left.px]="field.x"
          [style.top.px]="field.y"
          [style.fontSize.px]="field.fontSize"
          [style.color]="field.color || '#000'"
        >

          <ng-container *ngIf="field.formatAsFio; else normal">

            <div class="fio">
              <div>
                {{
                  formatFio(
                    layout?.templateData?.formData?.[field.key],
                    template?.id
                  ).line1
                }}
              </div>

              <div>
                {{
                  formatFio(
                    layout?.templateData?.formData?.[field.key],
                    template?.id
                  ).line2
                }}
              </div>
            </div>

          </ng-container>

          <ng-template #normal>
            {{ layout?.templateData?.formData?.[field.key] }}
          </ng-template>

        </div>

      </ng-container>

    </div>
  </div>

</div>