<div class="card-modal">
    <div class="card-modal__content">
        <div class="card-modal__header">
            <p class="card-modal__title">Файл</p>
            <button class="card-modal__close-button" (click)="close.emit()">
                Закрыть
            </button>
        </div>

        <div class="card-modal__pic">
            <img 
                [src]="materialService.getMaterialImageUrl(card.id)" 
                *ngIf="card.fileType !== 'pdf'; else pdf"
            />

            <ng-template #pdf>
                <img src="/pdfIcon.svg" />
            </ng-template>
        </div>

        <div class="card-modal__section">
            <div class="card-modal__info">
                <!-- <p class="card-modal__type">Изображение SVG</p> -->
                <h2 class="card-modal__name">{{ card.name }}</h2>
            </div>
            <div class="card-modal__sidebar">
                <div class="card-modal__tags">
                    <p class="card-modal__system-info">Тэги</p>
                    <span class="card-modal__tags--item">{{ card.sphere }}</span>
                </div>
                <div class="card-modal__tags">
                    <p class="card-modal__system-info">Полный путь</p>
                    <p class="card-modal__system-info-path">{{ card.filePath }}</p>
                </div>
            </div>
        </div>

        <div class="card-modal__footer">
            <div class="card-modal__buttons">
                <button>Открыть</button>
                <button>Скопировать ссылку</button>
                <button>Скачать</button>
                <button>К каталогу</button>
            </div>
            
            <div class="card-modal__meta">
                <div class="card-modal__file-info">
                    <span class="card-modal__file-size">{{ card.fileSize }}</span>
                    <span class="card-modal__file-date">12 явнаря 2025 г.</span>
                </div>
                <div class="card-modal__avatar">А</div>
            </div>
        </div>
    </div>
</div>